@import './../../../variables.scss';

#story-title {
  font-size: 4rem;
  color: $White;
  text-align: center;
}

.story-crud-button {
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  margin-left: 1rem;
}
