$Navyblue: #293241;
$Blue: #3d5a80;
$Matblue: #98c1d9;
$Lightblue: #e0fbfc;
$Orange: #ee6c4d;
$White: #fbf2ef;

#story-time-header {
  font-size: 2.5rem;
  color: $White;
}

.nav-link {
  font-size: 1.8rem;
  color: $White;
}
