@import './../../../variables.scss';

#story-index-container {
  border: 2px solid $White;
  border-radius: 15px;
  padding-bottom: 5rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: space-between;
}

#show-stories-button {
  font-size: 3rem;
  color: $White;
  display: inline;

  &:hover {
    font-size: 1.5;
    color: $Matblue;
    cursor: pointer;
  }
}

#story-create-date {
  font-size: 2rem;
  color: $White;
  text-align: right;
  margin-right: 1rem;
  margin-top: .5rem;
}

#no-stories-message {
  font-size: 3rem;
  color: $White;
}

#show-stories-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#story-index-link {
  font-size: 2.8rem;
  color: $White;
  margin-left: 2rem;

  &:hover {
    font-size: 2.5rem;
    color: $Matblue;
    text-decoration: none;
  }
}

#select-menu {
  font-size: 2rem;
  height: 3.5rem;
  width: 8rem;
  margin-left: 2rem;
}
