@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');

$theme-colors: (
  "primary": $Blue
);

@import '~bootstrap/scss/bootstrap';

$Navyblue: #293241;

html, body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 62.5%;
  font-family: 'Merriweather', serif;
  background-color: $Navyblue
}

.sign-heading {
  font-size: 4rem;
  color: $White;
  margin-top: 18%;
}

.sign-form-label {
  font-size: 2rem;
  color: $White;
}

.sign-form-input {
  font-size: 2rem;
}

.sign-form-button {
  font-size: 1.8rem;
}

// all the form labels in the app
.form-label {
  font-size: 2rem;
  color: $White;
}

// all the form inputs in the app for titles
.title-form-input {
  font-size: 1.8rem;
}

// submit button for all the forms
.submit-form-button {
  font-size: 1.8rem;
}

// form for all the text areas in the app
.form-text-area {
  font-size: 1.8rem;
  height: 60rem;
}
